:root {
  --color-white: #FFF;
  --color-off-white: #f0f3f0;

  --color-black: #000000;
  --color-gray: #4E5A66;
  --color-gray-dark: #06172A;
  --color-gray-light: #8B9AA8;
  --color-gray-darkest: #111111;
  --color-gray-lighter: #a7b3bd;
  --color-gray-lightest: #d4d9df;

  --color-blue-light: #d1ebcb;
  --color-blue-lighter: #e1f1de;
  --color-blue-lightest: #f0f3f0;

  --color-primary: #0e3606;
  --color-success: #008081;
  --color-danger: #DF2721;
  --color-warning: purple;

  --color-background: var(--color-gray-dark);

  --color-text: var(--color-gray);
  --color-heading: var(--color-gray-dark);

  --color-link: var(--color-primary);
  --color-link-hover: #2687ef;

  --color-gray-label: var(--color-gray);

  --color-transparent: #ff000000;
}
